/*Animation for pages*/
.body {
    -webkit-animation: anim 500ms linear forwards;
    animation: anim 500ms linear forwards;
    animation-delay: 300ms;
    animation-timing-function: ease-out;
    opacity: 0;
}

@-webkit-keyframes anim {
    100% {
        opacity: 1;
    }
}

@keyframes anim {
    100% {
        opacity: 1;
    }
}